div {
	height:140px;
	width:140px;
	margin:0px;
	float: left;
	font-size: 150px;

}

p {
	height:100px;
	width:100px;
	float: left;
	font-size: 90px;
}

div.wrap1 {
	position: absolute;
    left: 900px;
    bottom: 480px;
}

div.wrap2 {
	position: absolute;
    left: 700px;
    bottom: 600px;
}


div.wrap3 {
	position: absolute;
    left: 300px;
    bottom: 600px;
}


div.wrap4 {
	position: absolute;
    left: 0px;
    bottom: 300px;
}

div.wrap5 {
	position: absolute;
    left: 1000px;
    bottom: 300px;
}

div.wrap6 {
	position: absolute;
    left: 500px;
    bottom: 400px;
}

div.wrap7 {
	position: absolute;
    left: 800px;
    bottom: 300px;
}


div.wrap8 {
	position: absolute;
    left: 1000px;
    bottom: 400px;
}


div.wrap9 {
	position: absolute;
    left: 900px;
    bottom: 700px;
}

div.wrap10 {
	position: absolute;
    left: 1000px;
    bottom: 500px;
}


div.wrap11 {
	position: absolute;
    left: 1000px;
    bottom: 500px;
}


div.wrap12 {
	position: absolute;
    left: 900px;
    bottom: 480px;
}

div.wrap13 {
	position: absolute;
    left: 700px;
    bottom: 600px;
}


div.wrap14 {
	position: absolute;
    left: 300px;
    bottom: 30px;
}


div.wrap15 {
	position: absolute;
    left: 0px;
    bottom: 300px;
}

div.wrap16 {
	position: absolute;
    left: 1000px;
    bottom: 300px;
}

div.wrap17 {
	position: absolute;
    left: 500px;
    bottom: 400px;
}

div.wrap18 {
	position: absolute;
    left: 800px;
    bottom: 300px;
}


div.wrap19 {
	position: absolute;
    left: 1000px;
    bottom: 400px;
}


div.wrap20 {
	position: absolute;
    left: 900px;
    bottom: 20px;
}



div.ja {
	position: absolute;
    left: 50px;
}

div.am {
    position: absolute;
    left: 130px;
}

div.me {
    position: absolute;
    left: 236px;
}

div.es {
    position: absolute;
    left: 360px;
}

div.sg {
    position: absolute;
    left: 460px;
}

div.go {
    position: absolute;
    left: 30px;
    bottom: 480px;
}
div.g2g {
    position: absolute;
    left: 145px;
    bottom: 480px;
}
div.oi {
    position: absolute;
    left: 263px;
    bottom: 480px;
}
div.g3i {
    position: absolute;
    left: 378px;
    bottom: 480px;
}
div.in {
    position: absolute;
    left: 498px;
    bottom: 480px;
}
div.nn {
    position: absolute;
    left: 540px;
    bottom: 480px;
}

p.day {
	position: absolute;
    left: 800px;
    bottom: -600px;
}


p.j {
	position: absolute;
    left: 50px;
    bottom: 140px;
}

p.a {
	position: absolute;
    left: 100px;
    bottom: 140px;
}

p.m {
	position: absolute;
    left: 150px;
    bottom: 140px;
}


p.e {
	position: absolute;
    left: 230px;
    bottom: 140px;
}

p.s {
	position: absolute;
    left: 280px;
    bottom: 140px;
}

p.g {
	position: absolute;
    left: 350px;
    bottom: 140px;
}

p.o {
	position: absolute;
    left: 415px;
    bottom: 140px;
}

p.g2 {
	position: absolute;
    left: 468px;
    bottom: 140px;
}

p.g3 {
	position: absolute;
    left: 520px;
    bottom: 140px;
}

p.i {
	position: absolute;
    left: 576px;
    bottom: 140px;
}

p.n {
	position: absolute;
    left: 600px;
    bottom: 140px;
}


p.c {
	position: absolute;
    left: 680px;
    bottom: 140px;
}


p.o2 {
	position: absolute;
    left: 730px;
    bottom: 140px;
}


p.dash {
	position: absolute;
    left: 783px;
    bottom: 140px;
}


p.r {
	position: absolute;
    left: 820px;
    bottom: 140px;
}


p.u {
	position: absolute;
    left: 854px;
    bottom: 140px;
}


p.n2 {
	position: absolute;
    left: 903px;
    bottom: 140px;
}


p.s2 {
	position: absolute;
    left: 954px;
    bottom: 140px;
}


p.n {
	position: absolute;
    left: 600px;
    bottom: 140px;
}


p.n {
	position: absolute;
    left: 600px;
    bottom: 140px;
}


p.n {
	position: absolute;
    left: 600px;
    bottom: 140px;
}

p.t {
	position: absolute;
    left: 50px;
    bottom: 30px;
}

p.h {
	position: absolute;
    left: 80px;
    bottom: 30px;
}

p.e2 {
	position: absolute;
    left: 133px;
    bottom: 30px;
}


p.d {
	position: absolute;
    left: 200px;
    bottom: 30px;
}
p.e3 {
	position: absolute;
    left: 255px;
    bottom: 30px;
}

p.e3 {
	position: absolute;
    left: 255px;
    bottom: 30px;
}

p.s3 {
	position: absolute;
    left: 305px;
    bottom: 30px;
}

p.i2 {
	position: absolute;
    left: 350px;
   bottom: 30px;
}

p.g4 {
	position: absolute;
    left: 373px;
    bottom: 30px;
}

p.n3 {
	position: absolute;
    left: 425px;
    bottom: 30px;
}

p.f {
	position: absolute;
    left: 500px;
    bottom: 30px;
}

p.i3 {
	position: absolute;
    left: 533px;
    bottom: 30px;
}

p.r2 {
	position: absolute;
    left: 555px;
    bottom: 30px;
}

p.m2{
	position: absolute;
    left: 590px;
    bottom: 30px;
}

p.p {
	position: absolute;
    left: 680px;
    bottom: 30px;
}

p.r3 {
	position: absolute;
    left: 735px;
    bottom: 30px;
}


p.a2 {
	position: absolute;
    left: 770px;
    bottom: 30px;
}
p.c2 {
	position: absolute;
    left: 815px;
    bottom: 30px;
}

p.t2 {
	position: absolute;
    left: 865px;
    bottom: 30px;
}

p.i4 {
	position: absolute;
    left: 895px;
    bottom: 30px;
}

p.s4 {
	position: absolute;
    left: 920px;
    bottom: 30px;
}

p.e4 {
	position: absolute;
    left: 965px;
    bottom: 30px;
}

p.i5 {
	position: absolute;
    left: 1030px;
    bottom: 30px;
}

p.n4 {
	position: absolute;
    left: 1055px;
    bottom: 30px;
}

p.c3 {
	position: absolute;
    left: 50px;
    bottom: -70px;
}

p.h2 {
	position: absolute;
    left: 110px;
    bottom: -70px;
}

p.i6{
	position: absolute;
    left: 160px;
    bottom: -70px;
}

p.c4 {
	position: absolute;
    left: 182px;
   bottom: -70px;
}

p.a3{
	position: absolute;
    left: 230px;
    bottom: -70px;
}

p.g5 {
	position: absolute;
    left: 278px;
    bottom: -70px;
}

p.o3{
	position: absolute;
    left: 330px;
    bottom: -70px;
}

p.finish{
	position: absolute;
    left: 380px;
    bottom: -70px;
}









p.h3 {
	position: absolute;
    left: 430px;
    bottom: -70px;
}

p.e5 {
	position: absolute;
    left: 490px;
    bottom: -70px;
}

p.i7 {
	position: absolute;
    left: 550px;
    bottom: -70px;
}

p.s5 {
	position: absolute;
    left: 575px;
    bottom: -70px;
}

p.a4 {
	position: absolute;
    left: 650px;
    bottom: -70px;
}

p.m3 {
	position: absolute;
    left: 720px;
    bottom: -70px;
}

p.e6 {
	position: absolute;
    left: 800px;
    bottom: -70px;
}

p.m4 {
	position: absolute;
    left: 850px;
    bottom: -70px;
}


p.b {
	position: absolute;
    left: 925px;
    bottom: -70px;
}
p.e7 {
	position: absolute;
    left: 978px;
    bottom: -70px;
}

p.r4 {
	position: absolute;
    left: 1025px;
    bottom: -70px;
}

p.o4 {
	position: absolute;
    left: 1080px;
    bottom: -70px;
}

p.f2 {
	position: absolute;
    left: 1135px;
    bottom: -70px;
}

p.a5 {
	position: absolute;
    left: 50px;
    bottom: -170px;
}

p.g6 {
	position: absolute;
    left: 110px;
    bottom: -170px;
}

p.i8 {
	position: absolute;
    left: 180px;
    bottom: -170px;
}

p.a6 {
	position: absolute;
    left: 230px;
    bottom: -170px;
}

p.n5 {
	position: absolute;
    left: 280px;
    bottom: -170px;
}

p.d2 {
	position: absolute;
    left: 335px;
    bottom: -170px;
}

p.h4 {
	position: absolute;
    left: 420px;
    bottom: -170px;
}

p.a7 {
	position: absolute;
    left: 475px;
    bottom: -170px;
}

p.s6 {
	position: absolute;
    left: 525px;
    bottom: -170px;
}

p.b2 {
	position: absolute;
    left: 593px;
    bottom: -170px;
}

p.e8 {
	position: absolute;
    left: 645px;
    bottom: -170px;
}



p.e9 {
	position: absolute;
    left: 693px;
    bottom: -170px;
}

p.n6 {
	position: absolute;
    left: 740px;
    bottom: -170px;
}

p.a8 {
	position: absolute;
    left: 820px;
    bottom: -170px;
}


p.t3 {
	position: absolute;
    left: 890px;
    bottom: -170px;
}
p.h5 {
	position: absolute;
    left: 920px;
    bottom: -170px;
}

p.e10 {
	position: absolute;
    left: 970px;
    bottom: -170px;
}

p.s7 {
	position: absolute;
    left: 1015px;
    bottom: -170px;
}

p.i9 {
	position: absolute;
    left: 1060px;
    bottom: -170px;
}

p.s8 {
	position: absolute;
    left: 1080px;
    bottom: -170px;
}

p.c5 {
	position: absolute;
    left: 50px;
    bottom: -265px;
}

p.r5 {
	position: absolute;
    left: 100px;
    bottom: -265px;
}

p.i10 {
	position: absolute;
    left: 140px;
    bottom: -265px;
}

p.t4 {
	position: absolute;
    left: 170px;
   bottom: -265px;
}

p.i11 {
	position: absolute;
    left: 205px;
    bottom: -265px;
}


p.c6 {
	position: absolute;
    left: 230px;
    bottom: -265px;
}








p.i12 {
	position: absolute;
    left: 300px;
    bottom: -265px;

}

p.n7 {
	position: absolute;
    left: 330px;
    bottom: -265px;

}

p.t5 {
	position: absolute;
    left: 410px;
    bottom: -265px;
}

p.h6 {
	position: absolute;
    left: 440px;
    bottom: -265px;
}

p.e11 {
	position: absolute;
   left: 490px;
    bottom: -265px;
}

p.m5 {
	position: absolute;
    left: 555px;
    bottom: -265px;
}

p.f3 {
	position: absolute;
    left: 625px;
    bottom: -265px;
}

p.a9 {
	position: absolute;
    left: 668px;
    bottom: -265px;
}

p.p2 {
	position: absolute;
    left: 760px;
   bottom: -265px;
}

p.r6 {
	position: absolute;
    left: 810px;
    bottom: -265px;
}


p.o5 {
	position: absolute;
    left: 844px;
    bottom: -265px;
}





p.g7 {
	position: absolute;
    left: 895px;
   bottom: -265px;
}

p.r7 {
	position: absolute;
    left: 945px;
    bottom: -265px;
}

p.a10 {
	position: absolute;
    left: 980px;
    bottom: -265px;
}



p.m6 {
	position: absolute;
    left: 1028px;
    bottom: -265px;
}



p.a11 {
	position: absolute;
    left: 50px;
    bottom: -358px;
}

p.t6 {
	position: absolute;
    left: 100px;
    bottom: -358px;
}

p.r8 {
	position: absolute;
    left: 165px;
    bottom: -358px;
}

p.i13 {
	position: absolute;
    left: 230px;
    bottom: -358px;
}

p.s9 {
	position: absolute;
    left: 255px;
    bottom: -358px;
}

p.d3 {
	position: absolute;
    left: 310px;
    bottom: -358px;
}

p.s10 {
	position: absolute;
    left: 395px;
    bottom: -358px;
}

p.i14 {
	position: absolute;
    left: 445px;
    bottom: -358px;
}

p.n8 {
	position: absolute;
    left: 470px;
    bottom: -358px;
}

p.c7 {
	position: absolute;
    left: 520px;
    bottom: -358px;
}

p.e12 {
	position: absolute;
    left: 570px;
    bottom: -358px;
}

p.two {
	position: absolute;
    left: 645px;
    bottom: -358px;
}

p.zero {
	position: absolute;
    left: 695px;
    bottom: -358px;
}

p.one {
	position: absolute;
    left: 740px;
    bottom: -358px;
}


p.twotwo {
	position: absolute;
    left: 788px;
    bottom: -358px;
}

