div {
	height:1000px;
	width:1000px;
	margin:0px;
	float: left;
}

.j {
	background-color: red;
	border-radius: 50%;
	width:200px;
	height:200px;
	margin: 5px;
}

.j.mouseovered {
	background-color: white;
	font-size: 200px
}

.a {
	background-color: ;
	border-radius: 50%;
	width:200px;
	height:200px;
	margin: 5px;
}

.a.mouseovered {
	background-color: white;
	font-size: 200px
}

.m {
	background-color: yellow;
	border-radius: 50%;
	width:200px;
	height:200px;
	margin: 5px;
}

.m.mouseovered {
	background-color: white;
	font-size: 200px 
}

.m.clicked {
	background-color: black;
	background-image: url("4_2.png");
	transform: 
}

.e {
	background-color: green;
	border-radius: 50%;
	width:100px;
	height:100px;
	margin: 5px;
}

.e.mouseovered {
	background-color: white;
	font-size: 200px 
}


