div {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-size: 150px 150px;


}


.j {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;
	font-size: 100px


}


.ja {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jam {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jame {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.james {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jamesg {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jamesgo {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jamesgog {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}


.jamesgogg {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}


.jamesgoggi {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jamesgoggin {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}


.f {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.fa {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.fac {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facu {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facul {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facult {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.faculty {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultys {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultyse {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysea {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysear {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultysearc {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultysearch {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchl {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchle {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultysearchlec {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchlect {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultysearchlectu {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchlectur {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchlecture {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.f1 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.fe {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}


.feb {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb2 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb29 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb295 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb2950 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb29500 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}


.feb295000 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}


.feb295000p {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb295000pm {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.d {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}

.dc {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}

.dc1 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}

.dc10 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}

.dc103 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}





.j.mouseovered {
	background-color: black;
	background-image: url("1_2.png");
}

.ja.mouseovered {
	background-color: black;
	background-image: url("1_3.png");
}

.jam.mouseovered {
	background-color: black;
	background-image: url("1_4.png");
}

.jame.mouseovered {
	background-color: black;
	background-image: url("1_5.png");
}

.james.mouseovered {
	background-color: black;
	background-image: url("1_6.png");
}

.jamesg.mouseovered {
	background-color: black;
	background-image: url("1_7.png");
}

.jamesgo.mouseovered {
	background-color: black;
	background-image: url("1_8.png");
}

.jamesgog.mouseovered {
	background-color: black;
	background-image: url("1_9.png");
}


.jamesgogg.mouseovered {
	background-color: black;
	background-image: url("1_10.png");
}

.jamesgoggi.mouseovered {
	background-color: black;
	background-image: url("1_11.png");
}

.jamesgoggin.mouseovered {
	background-color: black;
	background-image: url("1_12.png");
}


.f.mouseovered {
	background-color: black;
	background-image: url("2_2.png");
}

.fa.mouseovered {
	background-color: black;
	background-image: url("2_3.png");
}

.fac.mouseovered {
	background-color: black;
	background-image: url("2_4.png");
}

.facu.mouseovered {
	background-color: black;
	background-image: url("2_5.png");
}

.facul.mouseovered {
	background-color: black;
	background-image: url("2_6.png");
}

.facult.mouseovered {
	background-color: black;
	background-image: url("2_7.png");
}

.faculty.mouseovered {
	background-color: black;
	background-image: url("2_8.png");
}

.facultys.mouseovered {
	background-color: black;
	background-image: url("2_9.png");
}

.facultyse.mouseovered {
	background-color: black;
	background-image: url("2_10.png");
}

.facultysea.mouseovered {
	background-color: black;
	background-image: url("2_11.png");
}

.facultysear.mouseovered {
	background-color: black;
	background-image: url("2_12.png");
}

.facultysearc.mouseovered {
	background-color: black;
	background-image: url("2_13.png");
}

.facultysearch.mouseovered {
	background-color: black;
	background-image: url("2_14.png");
}

.facultysearchl.mouseovered {
	background-color: black;
	background-image: url("2_15.png");
}

.facultysearchle.mouseovered {
	background-color: black;
	background-image: url("2_16.png");
}

.facultysearchlec.mouseovered {
	background-color: black;
	background-image: url("2_17.png");
}


.facultysearchlect.mouseovered {
	background-color: black;
	background-image: url("2_18.png");
}


.facultysearchlectu.mouseovered {
	background-color: black;
	background-image: url("2_19.png");
}


.facultysearchlectur.mouseovered {
	background-color: black;
	background-image: url("2_20.png");
}


.facultysearchlecture.mouseovered {
	background-color: black;
	background-image: url("2_21.png");
}


.f1.mouseovered {
	background-color: black;
	background-image: url("3_1.png");
}


.fe.mouseovered {
	background-color: black;
	background-image: url("3_2.png");
}

.feb.mouseovered {
	background-color: black;
	background-image: url("3_3.png");
}

.feb2.mouseovered {
	background-color: black;
	background-image: url("3_4.png");
}

.feb29.mouseovered {
	background-color: black;
	background-image: url("3_5.png");
}

.feb295.mouseovered {
	background-color: black;
	background-image: url("3_6.png");
}

.feb2950.mouseovered {
	background-color: black;
	background-image: url("3_7.png");
}

.feb29500.mouseovered {
	background-color: black;
	background-image: url("3_8.png");
}

.feb295000.mouseovered {
	background-color: black;
	background-image: url("3_9.png");
}

.feb295000p.mouseovered {
	background-color: black;
	background-image: url("3_10.png");
}

.feb295000pm.mouseovered {
	background-color: black;
	background-image: url("3_11.png");
}

.d.mouseovered {
	background-color: black;
	background-image: url("4_1.png");
}

.dc.mouseovered {
	background-color: black;
	background-image: url("4_2.png");
}

.dc1.mouseovered {
	background-color: black;
	background-image: url("4_3.png");
}


.dc10.mouseovered {
	background-color: black;
	background-image: url("4_4.png");
}


.dc103.mouseovered {
	background-color: black;
	background-image: url("4_5.png");
}



