div {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-size: 150px 150px;


}


.j {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;
	font-size: 100px


}


.ja {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jam {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jame {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.james {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jamesg {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jamesgo {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jamesgog {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}


.jamesgogg {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}


.jamesgoggi {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}

.jamesgoggin {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("1.png");
	background-size: 200px 200px;


}


.f {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.fa {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.fac {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facu {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facul {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facult {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.faculty {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultys {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultyse {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysea {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysear {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultysearc {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultysearch {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchl {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchle {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultysearchlec {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchlect {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}


.facultysearchlectu {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchlectur {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.facultysearchlecture {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("2.png");
	background-size: 200px 200px;
}

.f1 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.fe {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}


.feb {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb2 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb29 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb295 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb2950 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb29500 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}


.feb295000 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}


.feb295000p {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.feb295000pm {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("3.png");
	background-size: 200px 200px;
}

.d {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}

.dc {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}

.dc1 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}

.dc10 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}

.dc103 {
	background-color: black;
	height:200px;
	width:200px;
	margin:0px;
	float: left;
	background-image: url("4.png");
	background-size: 200px 200px;
}








