body {
	 background-color: blue;
	 background-image: url("bg.jpg")
	<span style="cursor:auto">auto</span>
}

h2 {
  background-color: blue;
  width: 100%; height: 20%;
  font-size: 80%; "Verdana";
}


div {
  background-color: blue;
}


.container {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 20px;

}

.verdana {
    color: black;
    font: 200%/110% "verdana";
    float: left
    letter-spacing: -20px;

}

.courier {
    color: black;
    font: 200%/110% "courier";
    float: left
    letter-spacing: -2px;
}

.palatino {
    color: black;
    font: 200%/110% "palatino";
    float: left
    letter-spacing: -2px;
}


.helvetica {
    color: black;
    font: 200%/120% "helvetica";
    float: left
    letter-spacing: -2px;

}


.impact {
    color: black;
    font: 200%/130% "Impact";
    float: left
}

.comicsans {
    color: black;
    font: 200%/120% "Comic Sans MS";
    float: left

}


.header {
    background-color: white;
    width:63%; height: 40%;
    color: black;
    font: 460%/100% "Helvetica";
    border-top:5px solid black; 
    border-right:5px solid black;
    border-bottom:5px solid black; 
    border-left:5px solid black;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 10px;
    position: relative;
 
}

.verdana_header {
    background-color: white;
    width:28%; height: 40%;
    color: black;
    font: 460%/100% "Verdana";
    border-top:5px solid black; 
    border-right:5px solid black;
    border-bottom:5px solid black; 
    border-left:5px solid black;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 10px;
    position: relative;
    letter-spacing: -3px;
}

.courier_header {
    background-color: white;
    width:28%; height: 40%;
    color: black;
    font: 460%/100% "Courier";
    border-top:5px solid black; 
    border-right:5px solid black;
    border-bottom:5px solid black; 
    border-left:5px solid black;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 10px;
    position: relative;
    letter-spacing: -3px;

}

.palatino_header {
    background-color: white;
    width:28%; height: 40%;
    color: black;
    font: 460%/100% "palatino";
    border-top:5px solid black; 
    border-right:5px solid black;
    border-bottom:5px solid black; 
    border-left:5px solid black;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 10px;
    position: relative;
    letter-spacing: -1px;

}

.helvetica_header {
    background-color: white;
    width:28%; height: 40%;
    color: black;
    font: 460%/100% "Helvetica";
    border-top:5px solid black; 
    border-right:5px solid black;
    border-bottom:5px solid black; 
    border-left:5px solid black;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 10px;
    position: relative;
    letter-spacing: -1px;

}



img {
    width: 50%;
    height: auto; 
    max-width: 500px;
    float: left
    border-top:10px solid black; 
    border-right:5px solid black;
    border-bottom:5px solid black; 
    border-left:5px solid black;
}


.verdana_content {
    color: black;
    width:300%; height: 40%;
    font: 300%/145% "Verdana";
    position: relative;
    text-align: center;
    letter-spacing: -2px;
    text-align: left;
}

.courier_content {
    color: black;
    width:300%; height: 40%;
    font: 300%/130% "courier";
    position: relative;
    letter-spacing: -3px;
    text-align: left;
}

.helvetica_content {
    color: black;
    width:300%; height: 40%;
    font: 300%/130% "Helvetica";
    position: relative;
    letter-spacing: -3px;
    text-align: left;
}

.palatino_content {
    color: black;
    width:300%; height: 40%;
    font: 300%/130% "palatino";
    position: relative;
    letter-spacing: -1px;
    text-align: left;
}

.verdana_content:hover { c
}


.content3:hover {
	background-color: yellow;	
	font: 380%/100% "Palatino";
	letter-spacing: -1px;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 10px;
}

.content4:hover {
  background-color: yellow; 
  font: 380%/100% "Helvetica";
  letter-spacing: -1px;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 10px;
  }