body {
	background-color: blue;
	background-image: url("bg.jpg")
	<span style="cursor:auto">auto</span>
}

h2 {
  background-color: blue;
  width: 100%; height: 20%;
  font-size: 80%; "Verdana";
}


div {
  background-color: blue;
  width: 100%; height: 20%;
  font-size: 80%;
}

.container {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 20px;

}

.header {
  background-color: white;
  width:83%; height: 40%;
  color: black;
  font: 460%/100% "Helvetica";
  border-top:5px solid black; 
  border-right:5px solid black;
  border-bottom:5px solid black; 
  border-left:5px solid black;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 10px;
  position: relative;
 
}

.header:hover {
	background-color: red;	
}

.verdana_header {
  background-color: white;
  width:28%; height: 40%;
  color: black;
  font: 460%/100% "Verdana";
  border-top:5px solid black; 
  border-right:5px solid black;
  border-bottom:5px solid black; 
  border-left:5px solid black;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 10px;
  position: relative;
  letter-spacing: -3px;

}
img {
    width: 50%;
    height: auto; 
    max-width: 500px;
    float: left
    border-top:10px solid black; 
    border-right:5px solid black;
    border-bottom:5px solid black; 
    border-left:5px solid black;
}


.verdana_content {
    color: black;
    width:300%; height: 40%;
    font: 300%/145% "Verdana";
    position: relative;
    text-align: center;
    letter-spacing: -2px;
    text-align: left;
}

.verdana_content_1 {
    color: yellow;
    width:300%; height: 40%;
    font: 100%/130% "Verdana";
    position: relative;
    letter-spacing: -3px;
    text-align: left;
}


.verdana_content:hover { c
}




.content {
	background-color: white;
  	width:28%; height: 40%;
  	color: black;
  	font: 460%/100% "Helvetica";
  	border-top:5px solid black; 
  	border-right:5px solid black;
  	border-bottom:5px solid black; 
  	border-left:5px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 10px;
    position: relative;
    text-align: center;
    position: relative;
}

.content:hover {
	background-color: yellow;	
	font: 460%/100% "Verdana";
	letter-spacing: -2px;

}

.content2 {
	background-color: white;
    width:22%; height: 40%;
      color: black;
  font: 460%/100% "Helvetica";
	border-top:5px solid black; 
  	border-right:5px solid black;
  	border-bottom:5px solid black; 
  	border-left:5px solid black;
    position: relative;
    text-align: center;
    padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 10px;
     position: relative;
}
.content2:hover {
	background-color: yellow;	
	font: 460%/100% "Courier";
	letter-spacing: -5px;
}

.content3 {
	background-color: white;
    width:26%; height: 40%;
  color: black;
  font: 460%/100% "Helvetica";
border-top:5px solid black; 
  	border-right:5px solid black;
  	border-bottom:5px solid black; 
  	border-left:5px solid black;
    position: relative;
    text-align: center;
    padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 10px;
     position: relative;
}

.content3:hover {
	background-color: yellow;	
	font: 460%/100% "Palatino";
	letter-spacing: -1px;
}