body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 45px;
    cursor:url(cusor.png), auto;
    overflow-y: hidden;
    color: transparent;
}

#info{
    position: absolute;
    margin-top: 4%;
    margin-right: 3%;
    position: absolute;
    width: 5%;
    height: 5%;
    top: 0;
    right: 0;
    z-index: 0;
    background: black;
}

#container {
    padding:30px;
    line-height: 1.6em;
    color: white;
}

._select0 {
    width: 250px;
    color: white;
}

._select1 {
    width: 250px;
    color: white;
}

._select2 {
    width: 220px;
    color: white;
}

._select3 {
    width: 230px;
    color: white;
}

._select4 {
    width: 250px;
    color: white;
}

#salary {
    width: 260px;
    text-align: right;
    color: white;
}

select,input {
    height: 55px;
    padding-left:10px;
    background: black;
    font-size: 40px;
    border: 3px solid rgb(250,250,250);
    border-radius:0px;
    cursor:url(cusor2.png), auto;
    outline:none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#background {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: black;
}

#background img {
    position: absolute;
}

